---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <div>
    <h1>Hello! I'm <span>Hikaru Watanabe</span></h1>
    <p>
      はじめまして。とある事業会社で、クラウドエンジニアとして働いています。
      以前はAWSを中心に利用していましたが、最近はGoogle Cloud環境のCCoEとして、以下の活動を行っています。
    </p>
    <ul>
      <li>コスト最適化</li>
      <li>ガイドライン作成及び改定</li>
      <li>Google Cloudプロジェクトの払い出し</li>
      <li>アーキテクチャ、技術相談</li>
      <li>AWSとGoogle Cloud間のデータ連携</li>
      <li>Cloud Armorを利用したECサイトへのDDoS対策</li>
      <li>権限管理</li>
    </ul>
  </div>
</BaseLayout>

