---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
import Sectionhead from '../components/Sectionhead.astro';
import Background from '../components/Background.astro';
import Strongpoint from '../components/Strongpoint.astro';
---
<BaseLayout>
  <Container>
    <Sectionhead>
      <Fragment slot="title">About Me</Fragment>
      <Fragment slot="desc">
        私の今までの経歴とできること
      </Fragment>
    </Sectionhead>

    <div>
      <Background />
      <Strongpoint />
    </div>
  </Container>
</BaseLayout>

