---
import BaseLayout from '../layouts/BaseLayout.astro';
import Certification from '../components/Certification.astro';
---
<BaseLayout>
  <section>
    <h1>MY Skill</h1>
    <p>クラウドインフラを中心とした技術に携わってきました。</p>
  </section>
  <Certification />
</BaseLayout>

