---
import BaseLayout from '../layouts/BaseLayout.astro';
import Certification from '../components/Certification.astro';
---
<BaseLayout>
  <div>
    <h1>Skill</h1>
    <Certification />
  </div>
</BaseLayout>

