---
import BaseLayout from '../layouts/BaseLayout.astro';
import LanguagesTools from '../components/LanguagesTools.astro';
import Certification from '../components/Certification.astro';
---
<BaseLayout>

  <h1 class="text-7xl text-center bg-gradient-to-l description text-black rounded-full px-8 py-4">My Skill</h1>
  <LanguagesTools />
  <Certification />
</BaseLayout>

