---
---
<section class="mt-5">
  <h2 class="font-bold text-4xl text-gray-800">Background</h2>
  <p class="mt-5 text-lg leading-relaxed text-slate-900">
   初めまして。Championと申します。私は現在とある事業会社でクラウドエンジニアとして働いています。<br/>
   前職では、独立系ITコンサルタント会社でインフラ・クラウドエンジニアとしてアパレル業界のお客様を中心にご支援させていただきました。<br/>
   現職では、クラウドエンジニアとしてGoogle Cloudのガイドライン・ガバナンス整備を中心に、技術支援やコスト最適化活動に従事しています。<br/>
   AWSやGoogle Cloudなどのパブリッククラウドの設計から運用保守まで一気通貫で担うことができます。<br/>
   現職で担当している領域は以下になります。
  </p>
  <ul class="text-lg leading-relaxed text-slate-900 space-y-1 list-disc list-inside">
    <li>コスト最適化</li>
    <li>ガイドライン作成及び改定</li>
    <li>Google Cloudプロジェクトの払い出し</li>
    <li>アーキテクチャ、技術相談</li>
    <li>AWSとGoogle Cloud間のデータ連携</li>
    <li>Cloud Armorを利用したECサイトへのDDoS対策</li>
    <li>権限管理</li>
    <li>TerraformでのIaC推進</li>
  </ul>
</section>