---
import { cloudCertificates } from "../data/CloudCertifications";

const convertImgPath = (filename: string) => {
  const prefix = '/badges/';
  return prefix + filename
}
---
<section class="bg-gray-200 py-4 px-3">
  <h1 class="text-3xl text-center bg-gradient-to-l text-black font-bold rounded-full px-8 py-4 mb-4">Cloud Certification</h1>
  <div>
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      {
        cloudCertificates.map(({ name, image, cloud, activeDate}) => (
          <li class="bg-white rounded-lg shadow-md p-6">
            <img
              class="mx-auto"
              src={convertImgPath(image)}
              alt={name}
              width="150"
              height="150"
            />
            <p class="text-center pt-5">{name}</p>
            <p class="text-center">{activeDate}</p>
          </li>
        ))
      }
  </div>
  </ul>
</section>