---
---
<main>
  <div class="flex flex-col items-center gap-8 md:grid md:grid-cols-[6fr_4fr] md:px-10 md:gap-12">
    <div class="">
      <h1 class="text-3xl text-gray-800 max-w-3xl mx-auto font-bold md:text-6xl">Hello! I'm <span>Hikaru Watanabe</span></h1>
      <p class="my-8 text-gray-800 max-w-3xl mx-auto">
        はじめまして。とある事業会社で、クラウドエンジニアとして働いています。<br />
        以前はAWSを中心に利用していましたが、最近はGoogle Cloud環境のCCoEとして、活動しています。
      </p>
      <div class="hidden md:flex md:gap-2">
        <div class="flex items-center justify-center px-4 py-2 gap-2 text-accent-text-over border border-accent-regular bg-accent-regular rounded-full text-md leading-relaxed">Cloud Enginner</div>
        <div class="flex items-center justify-center px-4 py-2 gap-2 text-accent-text-over border border-accent-regular bg-accent-regular rounded-full text-md leading-relaxed">Google Cloud</div>
        <div class="flex items-center justify-center px-4 py-2 gap-2 text-accent-text-over border border-accent-regular bg-accent-regular rounded-full text-md leading-relaxed">AWS</div>
      </div>
    </div>
    <img
       class="aspect-w-5 aspect-h-4 object-cover object-top rounded-xl shadow-md"
       src="/picture/portrait.jpeg"
       alt="Hikaru Watanabe is smiling and chuckling."
       width="480"
       height="620">
  </div>
</main>
<section>
  <div></div>
</section>