---
import { snsIcons } from '../data/IconPaths';


const convertImgPath = (filename: string) => {
  const prefix = '/social/';
  return prefix + filename
}
---

<ul class="container flex">
  {
    snsIcons.map(({name, href, image}) => (
      <li class="items-center border border-gray-200 rounded-lg p-4">
        <div class="flex-shrink-0">
          <a href={href}>
          <img class="w-8 h-8 rounded-full"
            src={convertImgPath(image)}
            alt={name} />
          </a>
        </div>
      </li>
    ))
  }
</ul>